<form action="/logout" method="get">
<h1 style="display: inline-block;">Bienvenido {{user.username}}</h1> <button style="display: inline-block;" type="submit">Logout</button>
<h3>Nombre: {{user.firstname}}</h3>
<h3>Apellido: {{user.lastname}}</h3>
<h3>Email: {{user.email}}</h3>
<h3>Tel: {{user.phone}}</h3>
<h3>Dirección: {{user.address}}</h3>
<h3>Edad: {{user.age}}</h3>
<img style="width: 100px" src="/{{user.photo}}" alt="Imagen subida">
</form>

<h1>Carga tu producto</h1>

<form id="productForm">
    <input id="productInput" type="text" name="title" placeholder="Nombre de producto">
    <input id="priceInput" type="number" step="0.01" id="price" name="price" placeholder="Precio">
    <input id="imgInput" type="text" name="thumbnail" placeholder="Url de la imagen">
    <input type="submit">
</form>
<div id="productsContainer"></div>
{{> chat}}


