<h3>Argumentos de entrada: {{entryArgs}}</h3>
<h3>Plataforma: {{platform}}</h3>
<h3>Versión de Node: {{versionNode}}</h3>
<h3>Memoria total reservada: {{memory}}</h3>
<h3>Path de ejecución: {{path}}</h3>
<h3>Process ID: {{processId}}</h3>
<h3>Directorio: {{dir}}</h3>
